<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Student Form</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
          rel="stylesheet"
          integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
          crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js"></script>
    
</head>
<body>
    <form id="yourForm" action="/project/saveuser" method="POST" th:object="${user}" enctype="multipart/form-data">
        <div class="mb-3">
            <label for="exampleInputName" class="form-label">Name</label>
            <input type="text" class="form-control" id="exampleInputName" aria-describedby="nameHelp" name="name" th:field="*{name}">
        </div>
        <div class="mb-3">
            <label for="exampleInputPhone" class="form-label">Phone</label>
            <input type="number" class="form-control" id="exampleInputPhone1" name="phone" th:field="*{phone}">
        </div>
        <div class="mb-3">
            <label for="exampleInputFile1" class="form-label">Student Photo</label>
            <input type="file" class="form-control" id="exampleInputFile1" name="photo1">
        </div>
        <div class="mb-3">
            <label for="exampleInputFile2" class="form-label">Signature Photo</label>
            <input type="file" class="form-control" id="exampleInputFile2" name="signature1">
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>

    <!-- Modal for displaying errors -->
    <div id="error-modal" class="modal" th:if="${errorMessage}">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Error</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p th:text="${errorMessage}"></p>
                </div>
            </div>
        </div>
    </div>

    
    
     <!-- Custom JavaScript code -->
    <script>
        // Wait for the document to be ready
        $(document).ready(function () {
            // Check if the error message exists in the modal
            if ($("#error-modal").find(".modal-body p").text().trim() !== "") {
                // If the error message exists, show the modal
                $("#error-modal").modal("show");
            }
        });
    </script>
</body>
</html>
